* {
    background-color: rgb(124, 235, 198);
}

.first {


    color: rgb(0, 51, 255);
    font-size: 30px;
    font-style: italic;
}





.secound {


    color: rgb(197, 31, 139);
    font-size: 30px;
    font-style: italic;
}